click~=8.1.8
pandas~=2.2.3
requests~=2.32.3
tqdm~=4.67.1
beautifulsoup4~=4.13.3
pyarrow~=19.0.0
fsspec==2025.2.0
gcsfs==2025.2.0
duckdb~=1.2.0
cvss==3.4
GitPython~=3.1.44
strsimpy~=0.2.1
google-cloud-bigquery==3.29.0
toml~=0.10.2
fastapi[standard]~=0.115.8
