pandas~=2.3.0
requests~=2.32.3
tqdm~=4.67.1
cvss==3.4
GitPython~=3.1.44
strsimpy~=0.2.1
tomli==2.2.1
fastapi[standard]~=0.115.12
dacite~=1.9.2
gcsfs==2025.5.1
fsspec==2025.5.1

# --
spdx_license_matcher~=1.0.7
# --

google-cloud-logging~=3.12.1
python-json-logger~=3.3.0
